body{
    background-color: skyblue;
    margin: 0;
    padding: 0;
}
.recipe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin: 50px;
    flex-direction: column;
}
h1{
    text-align: center;
}
h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   padding: 10px;
   margin:0;

}
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap:10%;
}

.input, .information{

    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 2px 2px 7px -4px #000000; 
    box-shadow: 2px 2px 7px -4px #000000;   
}


.box{
   width: 100%;
   background-color: white;

}
.box :hover{
    background-color: rgb(231, 231, 231);
}



input{

    border: none;
    border-radius: 5px;
    outline: none;
    font-size: large;
    padding: 10px;

}

.win {
    background-color: rgb(205, 255, 205);
}
.lose {
    background-color: rgb(255, 223, 223);
}
.tie {
    background-color: rgb(189, 189, 189);
}

.show{
visibility: visible;
}
.hide{
    visibility:hidden;
}

.animateLeftToRight{
    animation:left-to-right 1s ease-in forwards;
}
.animateRightToLeft{
    animation:right-to-left 1s ease-in forwards;
}
@keyframes left-to-right{

    100%{
        transform: translateX(100%)
    }
}

@keyframes right-to-left {
    100%{
        transform: translateX(100%)
    }

}

